<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="AzureDeploymentHandlerToken" value="" />
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="TP.SC.Azure.Deployment.DeploymentPipelineProcessor, TP.SC.Sitecore.Deployment">
          <param desc="activationUrl">/_deployment.aspx</param>
          <param desc="deployCDFarm">Delivery01</param>
          <param desc="deployCDRole">Role01</param>
          <param desc="deployCEFarm">Editing01</param>
          <param desc="deployCERole">Role01</param>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>